[submodule "packages/create-element"]
	path = packages/create-element
	url = git@github.com:htmlplus/create-element.git
	branch = main
[submodule "packages/element"]
	path = packages/element
	url = git@github.com:htmlplus/element.git
	branch = main
