[submodule "packages/create-element"]
	path = packages/create-element
	url = git@github.com:htmlplus/create-element.git
	branch = main
[submodule "packages/element"]
	path = packages/element
	url = git@github.com:htmlplus/element.git
	branch = main
[submodule "packages/examples"]
	path = packages/examples
	url = git@github.com:htmlplus/examples.git
	branch = main
[submodule "packages/core"]
	path = packages/core
	url = git@github.com:htmlplus/core.git
	branch = main
[submodule "packages/distributions/react"]
	path = packages/distributions/react
	url = git@github.com:htmlplus/react.git
	branch = main
[submodule "packages/document"]
	path = packages/document
	url = git@github.com:htmlplus/document.git
	branch = main
