.spinner-1 {
  --plus-spinner-color: #08dfc8;
}
.spinner-2 {
  --plus-spinner-color: #ff5449;
}
.spinner-3 {
  --plus-spinner-color: #5f9ee9;
}
.spinner-4 {
  --plus-spinner-color: #ffc903;
}
.spinner-5 {
  --plus-spinner-color: #9073c1;
}
