.toc-item {
    position: relative;
    display: inline-block;
    &:hover::after {
        content: '#';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(125%, -50%);
        z-index: 10;
        line-height: normal;
    }
}
