$colors: (
    main: (
        base: #9E9E9E,
        lighten-5: #FAFAFA,
        lighten-4: #F5F5F5,
        lighten-3: #EEEEEE,
        lighten-2: #E0E0E0,
        lighten-1: #BDBDBD,
        darken-1: #757575,
        darken-2: #616161,
        darken-3: #424242,
        darken-4: #212121,
    ),
    primary: (
        base: #2196F3,
        lighten-5: #E3F2FD,
        lighten-4: #BBDEFB,
        lighten-3: #90CAF9,
        lighten-2: #64B5F6,
        lighten-1: #42A5F5,
        darken-1: #1E88E5,
        darken-2: #1976D2,
        darken-3: #1565C0,
        darken-4: #0D47A1,
        accent-1: #82B1FF,
        accent-2: #448AFF,
        accent-3: #2979FF,
        accent-4: #2962FF,
    ),
    secondary: (
        base: #FFC107,
        lighten-5: #FFF8E1,
        lighten-4: #FFECB3,
        lighten-3: #FFE082,
        lighten-2: #FFD54F,
        lighten-1: #FFCA28,
        darken-1: #FFB300,
        darken-2: #FFA000,
        darken-3: #FF8F00,
        darken-4: #FF6F00,
        accent-1: #FFE57F,
        accent-2: #FFD740,
        accent-3: #FFC400,
        accent-4: #FFAB00,
    ),
    error: (
        base: #F44336,
        lighten-5: #FFEBEE,
        lighten-4: #FFCDD2,
        lighten-3: #EF9A9A,
        lighten-2: #E57373,
        lighten-1: #EF5350,
        darken-1: #E53935,
        darken-2: #D32F2F,
        darken-3: #C62828,
        darken-4: #B71C1C,
        accent-1: #FF8A80,
        accent-2: #FF5252,
        accent-3: #FF1744,
        accent-4: #D50000,
    ),
    info: (
        base: #2196F3,
        lighten-5: #E3F2FD,
        lighten-4: #BBDEFB,
        lighten-3: #90CAF9,
        lighten-2: #64B5F6,
        lighten-1: #42A5F5,
        darken-1: #1E88E5,
        darken-2: #1976D2,
        darken-3: #1565C0,
        darken-4: #0D47A1,
        accent-1: #82B1FF,
        accent-2: #448AFF,
        accent-3: #2979FF,
        accent-4: #2962FF,
    ),
    success: (
        base: #CDDC39,
        lighten-5: #F9FBE7,
        lighten-4: #F0F4C3,
        lighten-3: #E6EE9C,
        lighten-2: #DCE775,
        lighten-1: #D4E157,
        darken-1: #C0CA33,
        darken-2: #AFB42B,
        darken-3: #9E9D24,
        darken-4: #827717,
        accent-1: #F4FF81,
        accent-2: #EEFF41,
        accent-3: #C6FF00,
        accent-4: #AEEA00,
    ),
    warning: (
        base: #FF9800,
        lighten-5: #FFF3E0,
        lighten-4: #FFE0B2,
        lighten-3: #FFCC80,
        lighten-2: #FFB74D,
        lighten-1: #FFA726,
        darken-1: #FB8C00,
        darken-2: #F57C00,
        darken-3: #EF6C00,
        darken-4: #E65100,
        accent-1: #FFD180,
        accent-2: #FFAB40,
        accent-3: #FF9100,
        accent-4: #FF6D00,
    )
);

@function color($base, $type: null, $level: null) {
    // TODO: remove this
    @if($base != main and $base != primary and $base != secondary and $base != info and $base != error and $base != warning and $base != success) {@return $base;}
    @if($type) {
        @return map-deep-get($colors, $base, $type + '-' + $level);
    }
    @else {
        @return map-deep-get($colors, $base, base);
    }
}

@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}
