$size: (
  xs: 16px,
  sm: 20px,
  md: 28px,
  lg: 36px,
  xl: 48px,
  xxl: 80px,
);
$icons: (arrow-right: '\e91d', intersection: '\e91c', copy: '\e91b', animations: '\e916', components: '\e917', features: '\e918', getting-started: '\e919', introduction: '\e91a', aspect-ratio: '\e911', dependency-free: '\e915', sandbox: '\e90b', cross-framework: '\e90c', dialog: '\e90d', drawer: '\e90e', grid: '\e90f', lightweight: '\e910', performance: '\e912', simple: '\e913', zero-config: '\e914', menu: '\e90a', linkedin: '\e905', next: '\e908', prev: '\e909', code: '\e900', download: '\e901', git: '\e902', github: '\e903', instagram: '\e904', twitter: '\e906', htmlplus: '\e907');
