.container {
  height: 20rem;
  overflow: auto;
}
.container p {
  margin: 0;
  padding: 1rem;
  text-align: justify;
}
plus-sticky[state='normal'] {
  background-color: gold;
}
plus-sticky[state='sticky'] {
  background-color: greenyellow;
}
