@import './example.variables';

.example {
  
  overflow: hidden;

  pre {
    margin: 0 !important;
    max-height: $height;
    border-radius: 0;
  }

  .toolbar {
    padding: $header-padding;
  }

  .preview {
    padding: $preview-padding;
  }

  .dock {
    padding: 0;
  }
}
