.container {
  height: 20rem;
  overflow: auto;
}
p {
  color: lightgray;
  font-size: 10rem;
  line-height: 2;
  text-align: center;
}
plus-sticky {
  background-color: lightgray;
  padding: 0.5rem 1rem;
}
