.box {
  color: white;
  padding: 0.75rem;
  margin: 0.25rem;
}
.ratio-one {
  width: 40.625%;
  float: right;
}
.one   { background: #08DFC8 }
.two   { background: #FF5449 }
.three { background: #5F9EE9 }
.four  { background: #FFC903 }
.five  { background: #9073C1 }