plus-card {
  height: 8rem;
  width: 8rem;
  margin: auto;
}
plus-card.size-1 {
  --plus-card-border-width: 1px;
}
plus-card.size-2 {
  --plus-card-border-width: 2px;
}
plus-card.size-3 {
  --plus-card-border-width: 3px;
}
