@import './toc.variables';

.toc {
    
    width: $width;

    .active {
        border-left-color: $item-hover-color !important;
        div {
            color: $item-hover-color !important;
        }
    }

    @each $key, $value in $levels {
        .level-#{$key} {
            cursor: pointer;
            border-left: $border-left;
            &:hover {
                border-left-color: $item-hover-color;
            }
            &:hover div {
                color: $item-hover-color !important;
            }
            @each $key, $property in $value {
                #{$key}: #{$property};
            }
        }
    }
}