plus-card {
  height: 8rem;
  width: 8rem;
  margin: auto;
}
plus-card.pink {
  --plus-card-border-color: #ef9a9a;
}
plus-card.yellow {
  --plus-card-border-color: #fff59d;
}
plus-card.blue {
  --plus-card-border-color: #80cbc4;
}
