:host {
  --plus-switch-width: 3em;
  --plus-switch-height: 1.5em;
  --plus-switch-background: lightgray;
  --plus-switch-transition: 0.3s;
  --plus-switch-handle-background: white;
  --plus-switch-handle-width: 1.25em;
  --plus-switch-handle-height: 1.25em;
  --plus-switch-handle-offset: 0.125em;
  --plus-switch-on-padding: 0 0 0 0.5em;
  --plus-switch-off-padding: 0 0.5em 0 0;
}

:host {
  width: var(--plus-switch-width);
  height: var(--plus-switch-height);
  background: var(--plus-switch-background);
  border-radius: 1.5em;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
}

:host(#{boolean(disabled)}) {
  opacity: 0.5;
}

*,
:host {
  transition: var(--plus-switch-transition);
}

.root {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  user-select: none;
  position: relative;
  justify-content: space-between;
  height: 100%;
  border-radius: inherit;
}

.handle {
  width: var(--plus-switch-handle-width);
  height: var(--plus-switch-handle-height);
  background: var(--plus-switch-handle-background);
  border-radius: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.slot {
  font-size: 0.8em;
  border-radius: inherit;
}

.off {
  padding: var(--plus-switch-off-padding);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.on {
  padding: var(--plus-switch-on-padding);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

:host([aria-checked='false']) {
  .handle {
    transform: translate(calc(var(--plus-switch-width) / -2 + var(--plus-switch-handle-offset)), -50%);
  }
  .on {
    opacity: 0;
  }
  .off {
    opacity: 1;
  }
}

:host([aria-checked='true']) {
  background-color: #2196f3;
  .handle {
    transform: translate(calc(var(--plus-switch-width) / +2 - var(--plus-switch-handle-offset) - 100%), -50%);
  }
  .on {
    opacity: 1;
  }
  .off {
    opacity: 0;
  }
}
