@font-face {
  font-family: 'icons';
  src: url('/assets/fonts/icons.eot?sqv2uh');
  src: url('/assets/fonts/icons.eot?sqv2uh#iefix') format('embedded-opentype'),
    url('/assets/fonts/icons.ttf?sqv2uh') format('truetype'), url('/assets/fonts/icons.woff?sqv2uh') format('woff'),
    url('/assets/fonts/icons.svg?sqv2uh#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

plus-icon {
  font-family: 'icons';
}
