$color-primary: #ee6e73;
$color-primary-lighten-5: #ee6e721e;
$color-primary-lighten-3: #f9dbdb;

html {
  overflow-y: unset;
}

code:not([class*='language-']) {
  padding: 0 4px;
  color: $color-primary;
  background: $color-primary-lighten-5;
  &:before,
  &:after {
    content: none;
  }
}

a {
  color: $color-primary;
}

footer {
  background: #f1f1f1;
}

svg.logo {
  width: 38px;
  height: 38px;
  fill: $color-primary;
  margin: 8px 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &:hover a > * {
    visibility: visible;
  }
}

.animation {
  text-align: center;
  small {
    font-size: 0.75rem;
  }
  plus-animation {
    width: 110px;
    height: 110px;
    background-color: lightgray;
    margin: auto;
  }
}

plus-avatar img {
  margin: 0;
}

.toc-item {
  float: left;
  padding-right: 4px;
  margin-left: -18px;
  text-decoration: none !important;
  cursor: pointer;
  color: inherit;
  &::after {
    clear: both;
  }
  & > * {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
    visibility: hidden;
  }
}

.sidebar {
  padding: 20px;
  .nav {
    flex-direction: column;
    flex-wrap: nowrap;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin: 0;

    .nav {
      margin-left: 1.25rem;
      border-left: 1px solid #e6e7e9;
      padding-left: 0.5rem;
    }

    .nav-link,
    .nav-item {
      margin: 0;

      &.collapse {
        &.active > .button {
          font-weight: 600;
          color: $color-primary;
          background-color: $color-primary-lighten-5;
        }
        ul {
          display: none;
        }
      }

      &:not(.collapse) .nav-link-toggle {
        transform: rotate(180deg);
      }

      .button {
        display: flex;
        transition: color 0.3s;
        align-items: center;
        background: 0 0;
        border: 0;
        border-radius: 4px;
        padding: 0.25rem 0.75rem;
        color: inherit;
        // font-size: 0.875rem;
        text-decoration: none;
        &:focus,
        &:hover {
          color: $color-primary;
        }
      }

      .nav-link-toggle {
        margin-left: auto;
        padding: 0 0.25rem;
        transition: transform 0.3s;
        &:after {
          content: '';
          display: inline-block;
          vertical-align: 0.306em;
          width: 0.36em;
          height: 0.36em;
          border-bottom: 1px solid;
          border-left: 1px solid;
          margin: 0;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.toc {
  a {
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: #a7a7a7;
    border-left: solid 2px #eeeeee;
    &:hover {
      color: gray;
      border-color: gray;
    }
    &.active {
      color: $color-primary;
      border-color: $color-primary;
    }
  }
  .level-1 {
    padding-left: 00px;
  }
  .level-2 {
    padding-left: 20px;
  }
  .level-3 {
    padding-left: 40px;
  }
  .level-4 {
    padding-left: 60px;
  }
}

.frameworks,
.toc {
  width: 240px;
  margin: 20px;
  margin-bottom: 0;
}

.example {
  plus-tabs-panel:first-child {
    margin-top: 0.40625rem;
    border: solid 1px #ededed;
    & > *:not(.dock) {
      padding: 1.5em;
    }
  }
  plus-tabs-panel > pre {
    max-height: 360px;
  }
}

plus-drawer-toggler[connector='main'] {
  margin-left: 20px;
  color: $color-primary;
}

.alert {
  border-left: solid 4px currentColor;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  p {
    margin: 0;
  }
  &.type-error {
    color: #ef5350;
    background: #ffebee;
  }
  &.type-info {
    color: #29b6f6;
    background: #e1f5fe;
  }
  &.type-success {
    color: #66bb6a;
    background: #e8f5e9;
  }
  &.type-warning {
    color: #ffb74d;
    background: #fff8e1;
  }
}

pre {
  position: relative;
  .button {
    position: absolute;
    right: 0.7rem;
    top: 0.7rem;
    cursor: pointer;
  }
  code + .button {
    display: none;
  }
  &:hover code + button {
    display: inline-block;
  }
}

.muted {
  opacity: 0.4;
}
.line-through {
  text-decoration: line-through;
}
