.sidebar {
  padding: 1.5rem;
  width: 320px;

  .nav {
    flex-direction: column;
    flex-wrap: nowrap;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin: 0;

    .nav {
      margin-left: 1.25rem;
      border-left: 1px solid #e6e7e9;
      padding-left: 0.5rem;
      &.collapse:not(.show) {
        display: none;
      }
    }

    .nav-link,
    .nav-item {
      margin: 0;

      &.active > .button {
        font-weight: 600;
        color: #206bc4;
        background-color: rgba(32, 107, 196, 0.04);
      }

      .button {
        display: flex;
        transition: color 0.3s;
        align-items: center;
        background: 0 0;
        border: 0;
        border-radius: 4px;
        padding: 0.25rem 0.75rem;
        color: inherit;
        font-size: 0.875rem;
        text-decoration: none;
        &:focus,
        &:hover {
          color: #1a569d;
        }
      }

      .nav-link-toggle {
        margin-left: auto;
        padding: 0 0.25rem;
        transition: transform 0.3s;
        &:after {
          content: '';
          display: inline-block;
          vertical-align: 0.306em;
          width: 0.36em;
          height: 0.36em;
          border-bottom: 1px solid;
          border-left: 1px solid;
          margin: 0;
          transform: rotate(-45deg);
        }
      }

      &.expanded .nav-link-toggle {
        transform: rotate(180deg);
      }
    }
  }
}
