h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    float: left;
    padding-right: 4px;
    // margin-left: -20px;
    line-height: 1;
    text-decoration: none !important;
    & > * {
      display: inline-block;
      overflow: visible !important;
      vertical-align: text-bottom;
      fill: currentColor;
      visibility: hidden;
    }
  }
  &:hover a > * {
    visibility: visible;
  }
}

.toc {
  width: 220px;
  margin: 10px;
  a {
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: #a7a7a7;
    border-left: solid 2px #eeeeee;
    &:hover {
      color: gray;
      border-color: gray;
    }
    &.active {
      color: blue;
      border-color: blue;
    }
  }
  .level-1 {
    padding-left: 20px;
  }
  .level-2 {
    padding-left: 40px;
  }
  .level-3 {
    padding-left: 60px;
  }
}
