.container {
  position: relative;
  height: 20rem;
  overflow: auto;
  background-color: #eeeeee;
}

plus-intersection {
  text-align: center;
  margin: 1000px auto;
}

[data-hidden] {
  display: none;
}

img {
  display: block;
  width: 12rem;
  height: 12rem;
  object-fit: cover;
}

plus-card {
  display: inline-block;
}

plus-spinner {
  margin: 1rem;
}
