.container {
  position: relative;
  background-color: #eeeeee;
}

.status {
  color: #fafafa;
  background-color: #212121;
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  z-index: 1;
}

.content {
  height: 20rem;
  overflow: auto;
}

.spacer {
  padding: 500px 0;
}

plus-card {
  width: 15rem;
  margin: auto;
}
