$aligns: (start, center, end, right, left, justify);
$weight: (
  light: 200,
  normal: 300,
  semi-bold: 400,
  bold: 600,
);
$sizes: (
  '1': (
    font-size: 2.25rem,
    font-weight: bold,
    line-height: 2.25rem,
    margin-block-start: 0.2em,
    margin-block-end: 0.625em
  ),
  '2': (
    font-size: 1.8rem,
    font-weight: bold,
    line-height: 2rem,
    margin-block-start: 1.225em,
    margin-block-end: 0.415em
  ),
  '3': (
    font-size: 1.6rem,
    font-weight: normal,
    line-height: 1.8rem,
    margin-block-start: 0,
    margin-block-end: 0.15em
  ),
  '4': (
    font-size: 1.4rem,
    font-weight: normal,
    line-height: 1.6rem,
    margin-block-start: 0,
    margin-block-end: 0.15em
  ),
  '5': (
    font-size: 1.3rem,
    font-weight: 500,
    line-height: 1.4rem,
    margin-block-start: 0,
    margin-block-end: 0.15em
  ),
  '6': (
    font-size: 1.2rem,
    font-weight: normal,
    line-height: 1.4rem,
    margin-block-start: 0,
    margin-block-end: 0.05em
  ),
  'super': (
    font-size: 3.2rem,
    font-weight: 400,
    line-height: 3.6rem
  ),
  'header': (
    font-size: 1.4rem,
    line-height: 1.4rem
  ),
  'title': (
    font-size: 1.2rem,
    line-height: 1.4rem
  ),
  'subtitle': (
    font-size: 0.9rem,
    line-height: 1.1rem
  ),
  'body': (
    font-size: 16px,
    line-height: 1.6,
  ),
  'paragraph': (
    font-size: 16px,
    line-height: 1.6
  ),
  'label': (
    font-size: small,
    line-height: 1.6,
  ),
  'caption': (
    font-size: 0.8rem,
    line-height: 1.6
  ),
);
