@import './text.variables';

.text {

  font-weight: 300;
  font-family: inherit;

  &.dense {
    margin-block: 0 !important;
  }

  &.inline {
    display: inline;
  }

  &.truncate {
    max-width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  @each $value in $aligns {
    &.align-#{$value} {
      text-align: $value;
    }
  }

  @each $key, $value in $weight {
    &.weight-#{$key} {
      font-weight: $value;
    }
  }

  @each $key, $value in $sizes {
    &.size-#{$key} {
      @each $key, $property in $value {
        #{$key}: #{$property};
      }
    }
  }
}
