plus-cropper {
  height: 250px;
}
plus-cropper.style-1 {
  --plus-cropper-resizer-size: 20px;
  --plus-cropper-viewport-opacity: 0;
  --plus-cropper-viewport-style: dashed;
}
plus-cropper.style-2 {
  --plus-cropper-indicator-color: #e6f018;
  --plus-cropper-indicator-size: 15px;
  --plus-cropper-indicator-weight: 2px;
  --plus-cropper-resizer-color: black;
  --plus-cropper-resizer-offset: -27px;
  --plus-cropper-resizer-size: 21px;
  --plus-cropper-viewport-color: #e6f018;
}
plus-cropper.style-3 {
  --plus-cropper-indicator-color: #5499c7;
  --plus-cropper-guides-color: black;
  --plus-cropper-resizer-color: #5499c7;
  --plus-cropper-resizer-size: 15px;
  --plus-cropper-viewport-color: #5499c7;
  --plus-cropper-viewport-weight: 2px;
}
plus-cropper.style-4 {
  --plus-cropper-guides-weight: 2px;
  --plus-cropper-resizer-size: 22px;
  --plus-cropper-resizer-weight: 2px;
  --plus-cropper-viewport-style: dashed;
  --plus-cropper-viewport-weight: 2px;
}
plus-cropper.style-5 {
  --plus-cropper-backdrop-color: white;
  --plus-cropper-backdrop-opacity: 0.7;
  --plus-cropper-resizer-color: #a93226;
  --plus-cropper-resizer-size: 20px;
  --plus-cropper-resizer-weight: 3px;
}
plus-cropper.style-6 {
  --plus-cropper-viewport-opacity: 0;
  --plus-cropper-viewport-style: dashed;
}
