plus-breadcrumb {
  --plus-breadcrumb-gutter-x: 0.75em;
  --plus-breadcrumb-gutter-y: 0.75em;
  background-color: #dcdcdc;
  border-radius: 0.25em;
  display: block;
  padding: 0.75em;
}
plus-breadcrumb a {
  text-decoration: none;
  color: black;
}
plus-breadcrumb::part(expander) {
  background-color: transparent;
  color: black;
  height: 1em;
  width: 1em;
}
plus-breadcrumb::part(separator) {
  color: black;
  height: 0.75em;
  width: 0.75em;
}
